<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

  <body>
    <div id="myApp" v-cloak>
      <h1>{{greeting}}</h1>

      <table style="border: 1px solid black; margin: 15px">
        <thead>
            <th>Rank</th>
            <th>Trail Name</th>
            <th>Length in Miles</th>
            <th>Level of difficulty</th>
        </thead>

        <tbody>
            <tr >
                  <td>
                  <div v-for="(rank) in llamas"
                  v-bind:class="{even: rank % 2 === 0,}">
                    {{rank.rank}}
                  </td>

                <td>
                  <div v-for="name in llamas">
                    {{name.name}}
                  </div>
                </td>

                <td>
                  <div v-for="length in llamas">
                    {{length.length}}
                  </div>
                </td>

                <td>
                  <div v-for="difficulty in llamas">
                    {{difficulty.difficulty}}
                  </div>
                </td>

            </tr>

        </tbody>
      </table>

    </div>




    <script src="script.js"></script>
  </body>

</html>
