
html {
  font-family: sans-serif;
  padding: 15px;
}





h1 {
  padding: 15px;
}

 td, th {
  border: 1px solid #ddd;
  padding: 15px;

}

.even {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  height: 50px;
  vertical-align: bottom;
}
